<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css"/>
</head>

<body>
    <nav>Home | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></nav><br>
    <h1>About Me</h1><br>
    <div class= "container">
        <div class="row">
            <div class="col">
                <img id="mypic" src="~/img/IMG_1415.png" alt="City Grid"><br>
                <p id= name>Chris Stangle, Dojo Student!</p>
            </div>
            <div class="col-6">
                <p>Cupcake ipsum dolor sit amet. Biscuit fruitcake tiramisu tart candy jelly jelly cupcake cake. Cheesecake gummi bears cupcake croissant marzipan chupa chups. Powder marshmallow sweet liquorice wafer fruitcake marshmallow. Lemon drops gummi bears biscuit gingerbread. Cookie fruitcake cupcake fruitcake gummies gingerbread bear claw. Croissant tiramisu chocolate bar. Chocolate cake fruitcake jujubes jujubes sesame snaps cotton candy jelly-o cake.</p>
            </div>
        </div>
    </div>
</body>
</html>