<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css"/>
</head>

<body>
    <nav><a href="/">Home</a> | Projects | <a href="/contact">Contact</a></nav><br>
    <h1>Here are some Projects of mine!</h1><br>
    <div id="container">
        <div id="project" class="d-flex justify-content-center m-1">
            <img src="~/img/stay-at-home.png" width="15%" alt="Nice Project">
            <div class="d-flex flex-column">
                <h4 class="p-2">Project 1</h4>
                <p class="p-2">Be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day that box? i can fit in that box so chase the pig around the house purr purr purr until owner pets why owner not pet me hiss scratch meow so make meme, make cute face meow and walk away.</p>
            </div>
        </div><br>

        <div id="project" class="d-flex justify-content-center m-1">
            <img src="~/img/virus.png" width="15%" alt="Great Project">
            <div class="d-flex flex-column">
                <h4 class="p-2">Project 2</h4>
                <p class="p-2">Be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day that box? i can fit in that box so chase the pig around the house purr purr purr until owner pets why owner not pet me hiss scratch meow so make meme, make cute face meow and walk away.</p>
            </div>
        </div><br>

        <div id="project" class="d-flex justify-content-center m-1">
            <img src="~/img/stay-home.png" width="15%" alt="Best Project">
            <div class="d-flex flex-column">
                <h4 class="p-2">Project 3</h4>
                <p class="p-2">Be a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day that box? i can fit in that box so chase the pig around the house purr purr purr until owner pets why owner not pet me hiss scratch meow so make meme, make cute face meow and walk away.</p>
            </div>
        </div><br>

    </div>
</body>
</html>